@mixin text-size($sizeText){
	font-size: $sizeText;
}

@mixin line-height($lineHeight){
	line-height: $lineHeight;
}

@mixin animationAll($allTime){
	-webkit-transition: all $allTime ease-in-out;
	-moz-transition: all $allTime ease-in-out;
	-o-transition: all $allTime ease-in-out;
	transition: all $allTime ease-in-out;
}
