$txtBase: 'Libre Baskerville', serif;
$colorBase: #333333;
$sizeText: 1rem;

$white: #FFFFFF;
$bordo: #9c1927;
$marron: #d7944b;
$verde: #94b555;
$celeste: #96b9dc;
$gris: #e2e6e7;
$gris-oscuro: #a4adae;
$gris-about: #666666;

$bordo-over: #a6303e;
$marron-over: #da9f5d;
$verde-over: #9fbd65;
$celeste-over: #a2c1e0;
$gris-over: #e5e9ea;
$gris-oscuro-over: #adb5b6;

$over-box-marron: #a3adae;

$gris-footer: #e2e6e6;

