---
title: Documentary of Sorgente Group
body_classes: 'Documentary'
---
<div id="skrollr-body">
<main role="main" class="documentary">
	<section class="banner">
		<div class="row">
			<div id="box-info-small-documentary" class="box-info">
				<p>Sorgente Group of America: A Tradition of Excellence</p>
			</div>
		</div>
	</section>
	<article class="row content-documentary">
		<div class="box-info-small-documentary"></div>
		<div class="large-6 medium-12 small-12 column content-video-small">
			<div class="video">
				<div class="box-video-small-documentary"></div>
				<img src="img/img-video-documentary.jpg" alt="" class="hide-for-small-only">
				<div class="img-video-bg"></div>
				<a href="#" data-reveal-id="video" id="box-video-small-documentary" class="box-video">
					<div class="content-box-video">
						<p>the restoration</p>
						<span><img src="img/btn-video-documentary.png" alt="">WATCH THE VIDEO</span>
					</div>
				</a>
			</div>
		</div>
		<div class="large-offset-1 large-5 medium-12 small-12 column copy-documentary">
			<p class="large-12 medium-6 small-12 column title-documentary">Sustainable Development</p>
			<p class="large-12 medium-6 small-12 column">Two Penguins Productions, in collaboration with Sorgente Group of America has created a documentary film chronicling the restoration and repurposing of 60 White Street.<br><br>
			With extensive footage of every phase of construction serving as the backdrop, the film highlights Sorgente USA president Veronica Mainetti’s commitment to sustainable development and global eco-consciousness. From interior demolition, construction and finish carpentry, the entire process and the people behind it has been captured in an engaging, moving and lyrical manner.</p>
			<img src="img/logo-giglio-home.png" alt="">
		</div>
	</article>
</main>


	<div id="video" class="video-modal reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div class="flex-video"></div>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

