---
title: Energy Effieciency Sorgente Development
body_classes: 'Energy'
---
<div id="skrollr-body">
<main role="main" class="energy">
	<section class="banner-energy">
		<div class="row">
			<div class="box-info">
				<p>energy- <br>efficient <br>home design</p>
			</div>
		</div>
		<div class="large-6 medium-6 small-12 img-left-banner">
		</div>
		<div class="hide-for-small-only large-6 medium-6 small-12 img-right-banner">
		</div>
	</section>
	<article class="row section-1-energy">
		<div class="content-1-section">
			<div class="copy-energy-medium">
			</div>
			<div class="large-6 medium-6 small-12 column box-1-section">
				<p class="large-12 medium-12 small-12 column title-1-section">High-performance windows</p>
				<img src="img/img-high-energy.jpg" alt="">
				<p>Passive House design greatly reduces the amount of energy required for heating and cooling a residence. It is a dynamic solution for an eco-conscious world.</p>
			</div>
			<div class="large-6 medium-6 small-12 column box-1-section">
				<p class="large-12 medium-12 small-12 column title-1-section">Living Green Walls</p>
				<img src="img/img-living-energy.jpg" alt="">
				<p>Throughout the building, living green walls of air-filtering plants create a purified environment. The air is circulated throughout the project via an HVAC system to create a toxin-free, sustainable living space.</p>
				<img src="img/logo-giglio-home.png" alt="" class="logo-giglio hide-for-small-only">
			</div>
		</div>
		<div id="copy-energy-medium" class="large-offset-1 large-5 medium-12 small-12 column copy-energy">
			<p class="large-12 medium-6 small-12 column title-energy">Energy-efficient construction is a benefit for generations 
to come.</p>
			<p class="large-12 medium-12 small-12 column column-2-energy-medium"><span class="hide-for-small-only hide-for-medium-only">At Sorgente, our eco-conscious projects are renowned for our creative work with energy-efficient home design. With global energy consumption on the rise, efficient cooling and heating systems are more important than ever. Sustainable construction is a hallmark of Sorgente’s future. High-performance windows, smart sockets, revolutionary on-site developments in clean energy, and innovations in water and air circulation systems are merely some of the energy-efficient features of our properties. Energy-efficient construction isn’t simply a benefit for the owner; it’s a benefit for generations to come.</span>
			<span class="show-for-medium-only">At Sorgente, our eco-conscious projects are renowned for our creative work with energy-efficient home design. With global energy consumption on the rise, efficient cooling and heating systems are more important than ever. Sustainable construction is a hallmark of Sorgente’s future. High-performance windows, smart sockets, revolutionary on-site developments in clean energy, and innovations in water and air circulation systems are merely some of the energy-efficient features of our properties. Energy-efficient construction isn’t simply a benefit for the owner; it’s a benefit for generations to come. </span>
			<span class="show-for-small-only">At Sorgente, our eco-conscious projects are renowned for our creative work with energy-efficient home design. With global energy consumption on the rise, efficient cooling and heating systems are more important than ever. Sustainable construction is a hallmark of Sorgente’s future. <br><br>High-performance windows, smart sockets, revolutionary on-site developments in clean energy, and innovations in water and air circulation systems are merely some of the energy-efficient features of our properties. Energy-efficient construction isn’t simply a benefit for the owner; it’s a benefit for generations to come. </span>
		</p>

		</div>
	</article>
	<article class="row section-2-energy">
		<aside class="large-offset-1 large-5 small-12 parallax-left">
			<div class="large-12 medium-12 small-12 box-color">
				<div class="box-210">
					<p>clean <br>energy</p>
				</div>
			</div>
			<div class="large-12 medium-12 small-12 column parallax-energy">
				<figure data-center-top="background-position:0px 0px;" data-center-bottom="background-position:0px -120px;"></figure>
			</div>
			<div class="large-12 medium-12 small-12 column txt-parallax">
				<p>Smart Solar Solucions</p>
				<p>The use of photovoltaic materials in roofs, canopies, facades, and other exposed areas allows for clean energy production from the sun.</p>
			</div>
		</aside>
		<aside class="large-offset-1 large-5 small-12 parallax-right">
			<div class="large-12 medium-12 small-12 box-color">
				<div class="box-210">
					<p>reductive <br>solutions</p>
				</div>
			</div>
			<div class="large-12 medium-12 small-12 column parallax-energy">
				<figure data-center-top="background-position:0px 0px;" data-center-bottom="background-position:0px -120px;"></figure>
			</div>
			<div class="large-12 medium-12 small-12 column txt-parallax">
				<p>Re-Thinking Kitchens</p>
				<p>Modern luxury blends design and discipline. Amenities such as induction cooktops are functional, elegant, and energy-efficient. </p>
			</div>
		</aside>
	</article>
</main>