---
title: Giglio Projects Sorgente
body_classes: 'Giglio'
---
<div id="skrollr-body">
<main role="main" class="giglio">
	<section class="banner-giglio">
		<div class="row">
			<div class="large-offset-1 large-5 medium-3 small-12 column content-banner-left">
				<div class="logo-banner">
					<img src="img/logo-giglio-home.png" alt="">
				</div>
				<p>Our Giglio <br>
				Certified <br>
				Projects</p>
			</div>
			<div class="large-6 medium-8 small-12 column content-banner-right">
				<p>A flower symbol which is part iris, part lily, the timeless "giglio" is the ultimate representation of Florence and is emblazoned on the walls of buildings, churches and monuments throughout the famous Italian city. The emblem can be traced back to the time of the Roman foundations of ancient Florentia. Some believe the flower is a celebration of the goddess Flora, others that it comes from the city's founder Florinus da Cellino Florentia (Latin for flowering). Still others believe the mark comes from the flower, Iris Fiorentina, that grows all around the city.</p>
			</div>
		</div>
	</section>
	<article class="row section-2-giglio">
		<div id="giglio-greene-medium" class="giglio-greene-medium"></div>
		<a href="giglio-greene.html" class="large-offset-1 large-5 medium-7 small-12 parallax-left">
			<div class="large-12 medium-12 small-12 box-color">
				<div class="box-210">
					<span>
						<p>giglio<br>on greene</p>
						<div>VIEW PROJECT<img src="img/icon-view-white.png" alt=""></div>
					</span>
				</div>
			</div>
			<div class="large-12 medium-12 small-12 column parallax-giglio">
				<figure></figure>
			</div>
		</a>
		<div id="giglio-white-medium" class="giglio-white-medium"></div>
		<a href="giglio-white.html" class="large-offset-1 large-5 medium-7 small-12 parallax-right">
			<div class="large-12 medium-12 small-12 box-color">
				<div class="box-210">
					<span>
						<p>giglio<br>on white</p>
						<div>VIEW PROJECT<img src="img/icon-view-white.png" alt=""></div>
					</span>
				</div>
			</div>
			<div class="large-12 medium-12 small-12 column parallax-giglio">
				<figure></figure>
			</div>
		</a>
	</article>
</main>
