---
title: Giglio on Greene Street Sorgente
body_classes: 'Giglio'
---
<div id="skrollr-body">
<main role="main" class="giglio-greene">
	<section class="banner-giglio-greene">
		<div class="row">
			<div class="large-offset-6">
				<div class="box-info">
					<p>32-34 greene:<br>sustainable <br> design on <br>greene</p>
				</div>
			</div>
		</div>
	</section>
	<article class="row section-1-giglio-greene">
		<div class="large-4 medium-12 small-12 column copy-giglio-greene">
			<p class="large-12 medium-6 small-12 column title-giglio-greene">The buildings at 32 and 34 Greene Street are marvels of ingenuity in architecture and design.</p>
			<p class="large-12 medium-6 small-12 column">Both feature the innovative cast-iron facades that became hallmarks of American engineering in the mid to late nineteenth century. Designed by pioneers Charles Wright and J.F. Duckworth, the buildings, painted in a distinctive hue known as Navaho White, soar into the Soho sky with their clean, classical lines and carefully-preserved details. <br><br>
			We accomplished the restoration of 34 Greene with discreet European luxury and sustainability in mind. Each unit contains features that encourage a sense of openness, including large windows, glass doors, and parquet floors. Eco-conscious materials like repurposed brick are juxtaposed with the most contemporary amenities, such as Miele appliances and sumptuous bathrooms.  
			 <br><br>
			From renovated lofts to repurposed materials, we understand and appreciate the history of spaces. In a city like New York, every historic building has a story to tell. Our mission is to keep those stories alive while moving forward into a cleaner, more beautiful future. </p>
			{{!-- <a class="box-100" href="http://60white.com/" target="_blank">
				<p>VISIT THE <br> WEBSITE <img src="img/icon-view-white.png" alt=""></p>
			</a> --}}
		</div>
		<div class="large-offset-2 content-1-section">
			<div class="large-6 medium-6 small-12 column box-1-section">
				<img src="img/img-greene-left.jpg" alt="">
			</div>
			<div class="large-6 medium-6 small-12 column box-1-section">
				<img src="img/img-greene-right.jpg" alt="">
			</div>
		</div>
	</article>
	<article class="row section-2-giglio-greene">
		<div class="large-6 medium-12 small-12 column box-color">
			<div id="box-210-medium-greene" class="box-210">
				<a href="giglio-white.html">
					<p>giglio<br>on white</p>
					<div>VIEW PROJECT<img src="img/icon-view-white.png" alt=""></div>
				</a>
			</div>
			<img src="img/logo-giglio-home.png" class="logo-giglio-greene hide-for-small-only" alt="">
		</div>
		<div class="large-6 medium-12 small-12 column map-content">
			<p class="title-map">32-34 Greene Street. <br> New York. NY 10013.</p>
			<img src="img/maker-map-greene.png" id="map-marker" class="hide" />
			<div id="map-greene" class="map map-script"></div>
		</div>
		<div class="box-210-medium-greene"></div>
	</article>
</main>