---
title: Giglio on White Street Sorgente
body_classes: 'Giglio'
---
<div id="skrollr-body">
<main role="main" class="giglio-white">
	<section class="banner-giglio-white">
		<div class="row">
			<div class="large-offset-6">
				<div class="box-info">
					<p>60 white: <br>crafted lofts <br>in Historic <br>Tribeca</p>
				</div>
			</div>
		</div>
	</section>
	<article class="row section-1-giglio-white">
		<div class="large-4 medium-12 small-12 column copy-giglio-white">
			<p class="large-12 medium-6 small-12 column title-giglio-white">Rebirth and revitalization define our project at 60 White in the heart of TriBeCa.</p>
			<p class="large-12 medium-6 small-12 column">Constructed in 1869, the three cast-iron buildings that comprise 60 White were designed by William Gardiner. Originally warehouses, these buildings have been granted new life as residences. More than eighty percent of the materials used in the current restoration are part of the existing structure. The remaining materials are locally sourced; these include wood, stone, and Danby Marble, a white marble heralded for its exceptional versatility in art, design, and décor. The attention to energy efficiency at 60 White marks a new era in eco-conscious construction for the Sorgente Group. The project’s pioneering use of Zola’s energy-conserving windows and Passive House design means that the lofts are as sustainable as they are luxurious.</p>
			<a class="box-100" href="http://60white.com/" target="_blank">
				<p>VISIT THE <br> WEBSITE <img src="img/icon-view-white.png" alt=""></p>
			</a>
		</div>
		<div class="large-offset-2 content-1-section">
			<div class="large-6 medium-6 small-12 column box-1-section">
				<img src="img/img-white-left.jpg" alt="">
			</div>
			<div class="large-6 medium-6 small-12 column box-1-section">
				<img src="img/img-white-right.jpg" alt="">
			</div>
		</div>
	</article>
	<article class="row section-2-giglio-white">
		<div class="large-6 medium-12 small-12 column box-color">
			<div id="box-210-medium-white" class="box-210">
				<a href="giglio-greene.html">
					<p>giglio<br>on greene</p>
					<div>VIEW PROJECT<img src="img/icon-view-white.png" alt=""></div>
				</a>
			</div>
			<img src="img/logo-giglio-home.png" class="logo-giglio-white hide-for-small-only" alt="">
		</div>
		<div class="large-6 medium-12 small-12 column map-content">
			<p class="title-map">60 White Street. <br> New York. NY 10013.</p>
			<img src="img/maker-map.png" id="map-marker1" class="hide" />
			<div id="map-white" class="map-script map"></div>
		</div>
		<div class="box-210-medium-white"></div>
	</article>
</main>