---
title: History of Sorgente Group
body_classes: 'History'
---
<div id="skrollr-body">
<main role="main" class="history">
	<section class="banner-history">
		<div class="row">
			<div id="box-info-small-history" class="box-info">
				<p>Sorgente Group of America: A Tradition of Excellence</p>
			</div>
		</div>
		<div class="large-6 medium-6 small-12 img-left-banner">
		</div>
		<div class="hide-for-small-only large-6 medium-6 small-12 img-right-banner">
		</div>
	</section>
	<section class="row top-content-history">
		<div class="box-info-small-history"></div>
		<div class="large-4 medium-12 small-12 column">
			<span class="large-12 medium-6 small-12 column">
				<h3>Sorgente Group, specializing in the investment and real estate finance sector, has its origins in Italy in 1910 and in the United States in 1919. </h3>
				{{!-- <div class="thumb-video-history">
					<img src="img/thumb-video-history.jpg" alt="">
					<div class="box-thumb-grey"><a href="#">WATCH<br>THE VIDEO<img src="img/icon-view-white.png" alt=""></a></div>
				</div> --}}
			</span>
		</div>
		<div class="large-4 medium-6 small-12 column">
			<p>
				Sorgente Group, specializing in the investment and real estate finance sector, has its origins in Italy in 1910 and in the United States in 1919. <br><br>

				In Italy, Sorgente’s work in industrial sectors initially involved precision engineering and building components for post-World War II development, with tenders for big technological plants on behalf of public and private customers. Prominent clients included Synchotron of Frascati, Alfa Romeo in Arese, and the steel mills at Terni. <br><br>

				In the 1970s, Sorgente promoted various real estate and construction initiatives in Italy and abroad. At the end of the 1990s, Valter Mainetti, current principal shareholder of the group, reorganized Sorgente Group. The business now principally operates in the real estate finance sector to carry out investments and set up real estate funds. Sorgente SGR was established with this focus in mind; since 2011 the Group has launched 34 real estate funds.
			</p>
			<div class="thumb-video-history-medium hide-for-medium-only"></div>
		</div>
		<div class="large-4 medium-6 small-12 column">
			<p>
				In the USA, Sorgente’s business activities commenced in 1919, during a period in which it started to develop its own entrepreneurial activities in the real estate sector. It distinguished itself in the New York market through a company specialized in multi-floor iron structures and by participating in the construction of several buildings, including the extension of the New York Stock Exchange in 1923 and the structure of the Chrysler Building in 1928. <br><br>

				Today, Sorgente Group of America has various real estate finance and development initiatives in the US. The development arm has distinguished itself in the real estate world for its extraordinary portfolio and its attention to sustainable development practices. Sorgente’s eco-conscious approach to renovation and construction will lead it into the future around the globe.
			</p>
		</div>
	</section>
	<div class="thumb-video-history-medium hide-for-small-only"></div>
	<aside class="row time-line-history">
		<div class="large-2 medium-12 small-12 column title-time-line-history">
			<p>Origins <br>and History</p>
		</div>
		<div class="large-8 medium-12 small-12 column">
			<div class="row">
				<div class="large-3 medium-3 small-12 column year-time-line">
					<p>1919</p>
				</div>
				<div class="large-9 medium-9 small-12 column legend-time-line">
					<p>The origins of <strong>Sorgente Group of America’s</strong> development arm date back to 1919. Sorgente distinguished itself in the New York real estate market by building multi-story steel structures- the very types of structures that gave New York its signature skyline.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-12 column year-time-line">
					<p>1922</p>
					<p>1929</p>
				</div>
				<div class="large-9 medium-9 small-12 column legend-time-line legend-time-line-medium legend-time-line-small">
					<p>During the exciting rush of the 1920s, Sorgente participated in the construction of major buildings including:<br>
					<strong>•</strong> in 1922, <strong>26 Broadway</strong><br>
					<strong>•</strong> in 1923, <strong>New York Stock Exchange</strong><br>
					<strong>•</strong> in 1924-25, <strong>American-Standard Building </strong><br>
					<strong>•</strong> in 1925-26, <strong>New York Telephone Co. Building </strong><br>
					<strong>•</strong> in 1927, <strong>Fred F. French Building </strong><br>
					<strong>•</strong> in 1928-29, <strong>Chrysler Building.</strong><br>
					</p>
					<img src="img/logo-giglio-home.png" alt="" class="hide-for-large-up hide-for-small-only">
				</div>
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-12 column year-time-line">
					<p>1929</p>
					<p>1999</p>
				</div>
				<div class="large-9 medium-9 small-12 column legend-time-line">
					<p>In the middle of the twentieth century, Sorgente became increasingly focused upon real estate. This continued up to the 1990s, when the company refined its specialization in real estate finance, real estate management (property, facility, agency) and the restructuring of historic buildings.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-12 column year-time-line">
					<p>1999</p>
				</div>
				<div class="large-9 medium-9 small-12 column legend-time-line">
					<p>In 1999 Valter Mainetti reorganized the American and Italian companies under the Sorgente Group trademark. Today the Group has three holding companies, one of which is Sorgente Group of America Corporation. Headquartered in New York City, it has carried out important transactions under Veronica Mainetti’s leadership.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-12 column year-time-line">
					<p>2005</p>
				</div>
				<div class="large-9 medium-9 small-12 column legend-time-line">
					<p>Establishment of the Michelangelo Real Estate Corporation (MREC) with its registered office in <strong>New York</strong> City. MREC is the company that handled the acquisition, amongst others, of the purchase and sale of the Chrysler Building and the purchase of the Flatiron Building in New York, the Fine Arts Building in Los Angeles and the Clock Tower Building in Santa Monica.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-12 column year-time-line">
					<p>2010</p>
				</div>
				<div class="large-9 medium-9 small-12 column legend-time-line">
					<p>Establishment of <strong>Sorgente Group of America Development</strong>, through the restoration of 34 Greene Street, dedicated to sustainable environmentally responsible development practices that preserve the future as they preserve the past.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-12 column year-time-line">
					<p>2013</p>
				</div>
				<div class="large-9 medium-9 small-12 column legend-time-line">
					<p>After acquiring 60 White Street in 2010, Sorgente Group of America begins the meticulous historic restoration and renovation into some of New York’s most luxurious modern loft residences.
					</p>
				</div>
			</div>
		</div>
		<div class="large-2 medium-2 small-12 column logo-giglio-history hide-for-small-only hide-for-medium-only">
			<img src="img/logo-giglio-home.png" alt="">
		</div>
	</aside>
</main>