---
title: Home Page Sorgente Group of America
body_classes: 'Home'
---
<div id="skrollr-body">
<main role="main" class="home">
	<section class="banner">
		<div class="large-6 medium-6 small-12 img-left-banner">
			<span>WELL BEING STARTS WITH CLEAN DETAILS</span>
		</div>
		<div class="slides">
			<div class="large-6 medium-6 small-12 img-right-banner-1">
				<a href="about.html" class="box-info slide-1">
					<h1>RESTORING THE PAST, PRESERVING THE FUTURE, CREATING ELEGANCE</h1>
				</a>
			</div>
			<div class="large-6 medium-6 small-12 img-right-banner-2">
				<a href="sustainability.html" class="box-info slide-2">
					<h1>ECOLOGICALLY RESPONSIBLE CONSTRUCION</h1>
				</a>
			</div>
			<div class="large-6 medium-6 small-12 img-right-banner-3">
				<a href="restoration.html" class="box-info slide-3">
					<h1>PRESERVING THE LINES OF THE PAST</h1>
				</a>
			</div>
			<div class="large-6 medium-6 small-12 img-right-banner-4">
				<a href="energy.html" class="box-info slide-4">
					<h1>ENERGY-EFFICIENT HOME DESIGN</h1>
				</a>
			</div>
		</div>
		<div class="show-for-small-only large-6 medium-12 small-12">
			<p class="large-offset-6 large-6 medium-offset-6 medium-4 small-12">Impeccable restoration meets forward-thinking eco-conscious 
design in our latest projects.</p>
		</div>
	</section>
	<article class="giglio-home row">
		<div class="large-6 medium-12 small-12">
			<div class="large-6 medium-6 small-12 giglio-66-home">
				<h4>60 WHITE ST.</h4>
				<span>
					<a href="giglio-white.html">
						<img src="img/proyect-giglio-66-home.jpg" alt="">
					</a>
					<img src="img/logo-giglio-home.png" class="show-for-small-only logo-giglio-small-home" alt="">
				</span>
				<p>Our buildings at 34 Greene and 60 White are exemplars of eco-conscious architecture and careful restoration. Under Veronica Mainetti’s leadership, these two New York City projects have achieved new 
				</p>
			</div>
			<div class="large-6 medium-6 small-12 giglio-33-home">
				<h4>32-34 GREENE ST.</h4>
				<span>
					<a href="giglio-greene.html">
						<img src="img/proyect-giglio-33-home.jpg" alt="">
					</a>
					<img src="img/logo-giglio-home.png" class="hide-for-small-only logo-giglio-home" alt="">
				</span>
				<p>
				standards for sustainable urban construction. The perfect harmony of restored materials, such as polished wood and elegant stone, and innovative, energy-saving features makes these buildings truly unique.
				</p>
			</div>
		</div>
		<div class="hide-for-small-only large-6 medium-12 small-12">
			<p class="large-offset-6 large-6 medium-offset-6 medium-4 small-12">Impeccable restoration meets forward-thinking eco-conscious 
design in our latest projects.</p>
		</div>
	</article>
	<aside class="row video">
		<a href="documentary.html">
			<span class="large-3 medium-3 small-12 column">
				<h2>RECORDING A REMARKABLE TRANSFORMATION</h2>
				<p>VIEW OFFICIAL TRAILER<img src="img/icon-view-white.png" alt=""></p>
			</span>
		</a>
		<div class="large-9 medium-9 small-12 column content-parallax">
			<figure data-center-top="background-position:0px 0px;" data-center-bottom="background-position:0px -120px;"></figure>

		</div>
		<a href="documentary.html" class="move-box"></a>
	</aside>
	<div class="bg-bordo">
		<aside class="windows row">
			<a href="energy.html">
				<span class="large-3 medium-4 small-12 column">
					<h2>Our windows: where elegant design meets the latest in eco-conscious innovation.</h2>
					<p>VIEW RESTORATION<img src="img/icon-view-white.png" alt=""></p>
				</span>
			</a>
			<figure class="hide-for-small-only" data-center-top="background-position:0px 0px;" data-center-bottom="background-position:0px -120px;"></figure>
		</aside>
	</div>
</main>