---
title: Restoration Sorgente Development
body_classes: 'Restoration'
---
<div id="skrollr-body">
<main role="main" class="restoration">
	<section class="banner">
		<div class="row">
			<div class="large-offset-3">
				<div id="box-info-small-restoration" class="box-info">
					<p>Preserving <br> the lines <br> of the past</p>
				</div>
			</div>
		</div>
	</section>
	<article class="row section-1-restoration">
		<div class="box-info-small-restoration"></div>
		<div class="copy-restoration-medium"></div>
		<div class="content-1-section">
			<div class="large-6 medium-6 small-12 column box-1-section">
				<p class="large-12 medium-12 small-12 column show-for-small-only title-1-section">Historic <br> Restoration</p>
				<img src="img/img-wood-restoration.jpg" alt="">
			</div>
			<div class="large-6 medium-6 small-12 column box-1-section">
				<p class="large-12 medium-12 small-12 column title-1-section hide-for-small-only ">Historic <br> Restoration</p>
				<img src="img/img-cruz-restoration.jpg" alt="">
				<img src="img/logo-giglio-home.png" alt="" class="logo-giglio">
			</div>
		</div>
		<div id="copy-restoration-medium" class="large-offset-1 large-5 medium-12 small-12 column copy-restoration">
			<p class="large-offset-0 large-12 medium-offset-6 medium-6 small-12 column title-restoration">Truly remarkable spaces that juxtapose the classic and the modern.</p>
			<p class="large-12 medium-12 small-12 column column-2">Preserving the lines of the past while embracing the light of the future- that is the mantra for the Sorgente Group of America. We are responsible for restoring some of the most architecturally significant properties in the country. Our approach to restoration is attentive and thoughtful. We cherish original finishes, knowing that they breathe history into our projects. We believe in maintaining handcrafted, artisanal details. The result? Truly remarkable spaces that juxtapose the classic and the modern. <br><br>Sorgente’s restorations are known for exquisite craftsmanship and for attention to sustainability. It is by merging the stories of the past with the innovative technologies of the future that Sorgente has risen to the pinnacle of real estate.  </p>

		</div>
	</article>
</main>