---
title: Sustainability Sorgente Development
body_classes: 'Sustainability'
---
<div id="skrollr-body">
<main role="main" class="sustainability">
	<section class="banner">
		<div class="row">
			<div class="large-offset-3">
				<div id="box-info-small-sustainability" class="box-info">
					<p>ecologically responsible construction</p>
				</div>
			</div>
		</div>
	</section>
	<div class="box-info-small-sustainability"></div>
	<article class="row section-1-sustainability">
		<div class="copy-sustainability-medium"></div>
		<div class="content-1-section">
			<div class="large-6 medium-6 small-12 column box-1-section">
				<p class="large-12 medium-12 small-12 column title-1-section">Diverting Waste Streams</p>
				<img src="img/img-diverting-sustainability.jpg" alt="">
				<p>Being mindful of waste production is a vital part of sustainable living. Our residents can choose recycling, sidecycling, and upcycling. </p>
			</div>
			<div class="large-6 medium-6 small-12 column box-1-section">
				<p class="large-12 medium-12 small-12 column title-1-section">Carbon Negative Cement</p>
				<img src="img/img-carbon-sustainability.jpg" alt="">
				<p>A new type of cement for a low-carbon future. Carbon-negative cement is cost-effective and environmentally friendly.</p>
				<img src="img/logo-giglio-home.png" alt="" class="logo-giglio hide-for-small-only">
			</div>
		</div>
		<div id="copy-sustainability-medium" class="large-offset-1 large-5 medium-12 small-12 column copy-sustainability">
			<p class="large-12 medium-6 small-12 column title-sustainability">We believe in giving new life to old structures: all of our major projects re-use on-site materials.</p>
			<p class="large-12 medium-12 small-12 column column-2">Sorgente proudly leads the way in innovative, ecologically responsible construction. We believe in giving new life to old structures: many of our major projects re-use on-site materials.  We also rely upon locally-sourced materials, such as regional wood and stone, and the expertise of area craftsmen when completing our ambitious restoration and design projects. These steps ensure that we minimize environmental impact and that our projects leave a light footprint in our neighborhoods. </p>

		</div>
	</article>
	<article class="row section-2-sustainability">
		<aside class="large-offset-1 large-5 small-12 parallax-left">
			<div class="large-12 medium-12 small-12 box-color">
				<div class="box-210">
					<p>Sustainable materials</p>
				</div>
			</div>
			<div class="large-12 medium-12 small-12 column parallax-sustainability">
				<figure data-center-top="background-position:0px 0px;" data-center-bottom="background-position:0px -120px;"></figure>
			</div>
			<div class="large-12 medium-12 small-12 column txt-parallax">
				<p>Regionally Sourced Marble</p>
				<p>Our buildings use renowned Danby marble, a type of white marble found in projects and artworks around the world. Like our other materials, it is beautiful. Durable. Sustainable. </p>
			</div>
		</aside>
		<aside class="large-offset-1 large-5 small-12 parallax-right">
			<div class="large-12 medium-12 small-12 box-color">
				<div class="box-210">
					<p>giving new life to old structures</p>
				</div>
			</div>
			<div class="large-12 medium-12 small-12 column parallax-sustainability">
				<figure data-center-top="background-position:0px 0px;" data-center-bottom="background-position:0px -120px;"></figure>
			</div>
			<div class="large-12 medium-12 small-12 column txt-parallax">
				<p>Regionally Sourced Wood</p>
				<p>History is written in lines, in curves, in branches. Reclaimed wood from the Hudson Company brings history and character into our projects with hand-worked materials and local sources. </p>
			</div>
		</aside>
	</article>
</main>