{{!--
<div class="large-6 medium-6 small-12 column text-right brochure">
	<button>DOWNLOAD BROCHURE <img src="img/icon-brochure.png" alt="">
	</button>
</div> --}}

<footer>
	<div class="row">
		<div class="btn_footer"></div>
		<div class="large-6 medium-6 small-12 column">
			<figure>
				<img src="img/logo-footer.png" alt="">
			</figure>
			<div class="legal">
				Copyight 2014. Sorgente Group.
				<br />
				<a href="#" data-reveal-id="terms">Terms of Use</a> | <a href="#" data-reveal-id="privacy">Privacy Policy</a> |
				<a href="http://global.bridgerconway.com/home" target="_blank">Designed by BridgerConway</a>
			</div>
		</div>

	</div>
	<div id="terms" class="reveal-modal modal-legal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<p class="title">TERMS OF USE</p>
		<p class="copy-terms">Please read these terms and conditions of use carefully before using this web site.
			<br>
			<br> By accessing, browsing, searching, downloading from or using this web site, you acknowledge that you have read these terms and conditions of use and you agree to comply and be bound by them without limitation. Sorgente Group of America Corporation (“SGAC”) and its affiliates reserve the right to change or modify these terms at any time and in its sole discretion. You should check these terms and conditions for any changes each time you visit this web site. If you do not agree to these terms or any subsequent modification, do not access, browse, download from or otherwise use this site. Your use of this site will be deemed your conclusive acceptance of these terms.
			<br>
			<br> The information on this web site is provided on an “AS IS” basis and all warranties, express or implied, are disclaimed. Although SGAC has tried to be as accurate, complete, and current as possible. SGAC does not warrant that the content herein is accurate, complete or current. It is your responsibility to verify any information before relying on it for any particular purpose. Neither SGAC nor any of its affiliates, principals, officers or employees will be liable or have any responsibility of any kind for any loss or damage that you incur in the event of any failure or interruption of this web site or resulting from the act or omission of any other party involved in making this web site, the data contained herein, or from any other cause relating to your access to, inability to access, or use of the web site or these materials. All responsibility or liability for any damages caused by viruses contained within any electronic file containing any form or document from the site is disclaimed.
			<br>
			<br> All content on this site are the property of SGAC and may be protected by copyright laws or other proprietary rights.
			<br>
			<br> In no event will SGAC, its affiliates or its officers, directors, employees, partners, or other third parties referenced in this site be liable to you or to any third party for any special, incidental, indirect, consequential or punitive damages whatsoever, arising out of the use, inability to use, or the results of use of this site, any web sites linked to this site, or the materials or information contained at any or all such sites.
		</p>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
	<div id="privacy" class="reveal-modal modal-legal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<p class="title">PRIVACY POLICY</p>
		<p class="copy-privacy">This privacy policy discloses the privacy practices for Sorgente Group of America (“SGAC”) with respect to information collected from this web site. SGAC is committed to protecting the privacy of visitors to the SGAC web site. By using this web site, you acknowledge that you have read this privacy policy and you agree to be bound by it without limitation. If you do not agree to this privacy policy you should exit the web site. SGAC and its affiliates reserve the right to change, modify, add or remove portions of this privacy policy at any time. You should check this privacy policy for any changes each time you visit this web site.
			<br>
			<br> SGAC is the sole owner of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
			<br>
			<br> We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
			<br>
			<br> This web site may contain links to third party web sites. These links are provided only as a convenience. The inclusion of any link is not and does not imply an affiliation, sponsorship, endorsement, approval, investigation, verification or monitoring by SGAC of any information contained in any third party web site. SGAC encourages you to review the privacy policy of any site you link to as they may differ from those of SGAC. SGAC is not responsible for the privacy policy or practices of any such web sites.
			<br>
			<br> Our privacy policy may change from time to time and all updates will be posted on this page.

		</p>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</footer>
</div>