<a class="right-off-canvas-toggle close-menu-mobile"><span></span>&#215;</a>
<ul class="off-canvas-list">
  <li><a {{#is body_classes "History"}} class="current-menu-item"{{/is}} href="history.html">HISTORY</a></li>
  <li><a {{#is body_classes "About"}} class="current-menu-item"{{/is}} href="about.html">ABOUT US</a></li>
  <li><a {{#is body_classes "Documentary"}} class="current-menu-item"{{/is}} href="documentary.html">DOCUMENTARY</a></li>
  <li><a {{#is body_classes "Sustainability"}} class="current-menu-item"{{/is}} href="sustainability.html">SUSTAINABILITY</a></li>
  <li><a {{#is body_classes "Restoration"}} class="current-menu-item"{{/is}} href="restoration.html">RESTORATION</a></li>
  <li><a {{#is body_classes "Energy"}} class="current-menu-item"{{/is}} href="energy.html">ENERGY EFFICIENCY</a></li>
  <li><a {{#is body_classes "Giglio"}} class="current-menu-item"{{/is}} href="giglio.html">THE GIGLIO</a></li>
  <li><a {{#is body_classes "Contact"}} class="current-menu-item"{{/is}} href="contact.html">CONTACT</a></li>
</ul>